@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  background: #010b11;
  /* color: white; */
  /* overflow-x: hidden; */
}

/* radial-gradient(1200px 600px at 75% 25%, rgba(3, 248, 197, 0.12), transparent 60%),
radial-gradient(900px 500px at 20% 30%, rgba(3, 248, 197, 0.08), transparent 65%),
linear-gradient(180deg, #061822 0%, #010b11 65%); */

.hero-svg {
  /* color: #03f8c5; */
}

/* Target all SVG paths */
.hero-svg path {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: lineFlow 12s linear infinite;
  opacity: 0.85;
}

/* Slight variation for natural look */
.hero-svg path:nth-child(odd) {
  animation-duration: 16s;
  opacity: 0.6;
}

.hero-svg path:nth-child(even) {
  animation-duration: 10s;
  opacity: 0.9;
}

/* Animation only on stroke */
@keyframes lineFlow {
  to {
    stroke-dashoffset: 0;
  }
}